@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, black;
}

html {
    scroll-behavior: smooth;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
